.topic-thumbnails-list .topic-list-thumbnail {
  width: 45px;
  height: 45px;
}

.topic-thumbnails-list {
  .topic-list-body .topic-list-item {
    .right {
      display: grid;
      grid-template-columns: 15% auto 15%;
      grid-template-areas: "thumbnail title replies" "thumbnail data data";
      gap: 0 0.5em;

      .num {
        text-align: right;
      }

      .topic-list-thumbnail {
        grid-area: thumbnail;
      }

      .main-link {
        grid-area: title;
        width: unset;
      }

      .topic-item-stats {
        grid-area: data;
      }

      .pull-right {
        grid-area: replies;
      }
    }
  }
}

.topic-thumbnails-minimal {
  .topic-list-body {
    grid-column-gap: 10px;
    grid-row-gap: 5px;

    .topic-list-item {
      height: 150px;
      grid-template-areas: "image image image" "title title title";

      .topic-thumbnail-likes {
        display: none;
      }

      .main-link {
        padding: 0 !important;

        .link-top-line {
          color: var(--primary);
        }

        .title {
          font-size: $font-down-3;
        }
      }

      .posts-map {
        display: none;
      }
    }
  }
}

.topic-thumbnails-blog-style-grid {
  .topic-list-data {
    max-width: unset;
  }
}

.topic-thumbnails-card-style {
  .topic-list-body {
    gap: 1rem;
  }

  .topic-list-item {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "content"
      "metadata";
  }

  .topic-list-thumbnail {
    border-right: 0;

    .main-thumbnail {
      border-radius: var(--d-border-radius-large, 20px) var(--d-border-radius-large, 20px) 0 0;
    }
  }

  .main-link {
    padding: 1rem;
  }

  .topic-thumbnail-metadata {
    padding: 0.5rem 1rem 1rem;
  }
}
